<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/58b8e1a00a.js" crossorigin="anonymous"></script> 
</head>
<body>
  <%- include('header') %> 
  <div class="container">
    <div class="row" style="align-items: flex-end;">
      <div class="col-md-6">
      <h3 style="margin-top: 20px;">Password Category List </h3>
      </div>
      <div class="col-md-4">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      </div>
      <div class="col-md-2">
      <a href="/add-new-category"><button style="background-color: green;border: none;" class="btn btn-primary"><i class="fa fa-plus " aria-hidden="true"></i> Add more</button></a>
      </div>
    </div>
  </div>
    <div class="container">
         <table  class="table table-hover">

          <thead>
            <tr>
              <th>Password Category Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="catTable">
            <% if(records.length) {
              records.forEach(function(row){
                %>
            <tr>
              <td><%= row.password_category %> </td>
              <td>
                <a href="/passwordCategory/edit/<%=row._id%>"><button style="width: 40px;border: none;background-color: #31708f;" class="btn btn-primary" ><i class="fas fa-edit"></i></button></a>
                <a href="/passwordCategory/delete/<%=row._id%>"><button style="width: 40px;border: none;background-color: #31708f;" class="btn btn-primary" ><i class="fas fa-trash"></i></button></a>
              </td>
            </tr>
            <% }) } %>
            <!-- <% if(records.length == ''){ %>
              <tr>
              <td> <p style="text-align: center;">You have no Password Category saved right now please save <a href="/add-new-category">here</a> </p> </td>
            </tr>
            <% } %> -->
          </tbody>
        </table>
        <% if(records.length == ''){ %>
  
             <p style="text-align: center;">You have no Password Category saved right now please save <a href="/add-new-category">here</a> </p> 
  
        <% } %>
      </div>
    </div>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script>
      $(document).ready(function() {
    $('#catTable').DataTable();
} );
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" ></script>
    <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#catTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>
</body>
</html>